.header {
  display: flex;
  top: 0;
  z-index: 100;
  width: calc(100% - 260px);
  height: 240px;
  margin-left: 260px;
  padding-top: 40px;
  background-image: url(../assets/img/0.jpg);
  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.time__container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.time {
  font-size: 30px;
  letter-spacing: -1px;
}

.date {
  font-size: 18px;
}

.greeting__container {
  font-size: 20px;
}

.greeting {
  flex: 1;
  text-align: right;
}

.user-name {
  font-size: 25px;
  text-align: left;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.user-name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.lang {
  margin: 10px;
}

input, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

  select {
    width: 35px;
    height: 35px;
    color: $main-text;
    background: $nav-bg;
    border-radius: 90px;
    padding: 6px;
}
