.board {
 
  &__container {
    padding: 20px;
    transition: 0.7s;
    margin-top: -80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    gap: 14px;
  }

  &__item {
    border: 1px solid $border-clr;
    border-radius: 10px;
    padding: 10px;
    width: 23%;
    min-width: 200px;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    opacity: 0.8;
    transition: 1s;
  }

  &__image {
    height: 100%;
  }

}

.quote__container {
  width: 80%;

  text-align: center;
  margin: 3% auto;
}

@media (max-width: 1300px) {
  .board__item {
    width: 48%;
  }
}

@media (max-width: 900px) {
  * {
    font-size: 16px;
  }

  .board__item {
    width: 48%;
  }
}

@media (max-width: 600px) {
  .board__item {
   width: 90%;
  }
}

@media (max-width: 400px) {
  .board__item {
    height: 300px;
    width: 100%;
   }
}
