$main-bg: #15161a;
$nav-bg: #1e1f24;
$board-bg: #292c31;

$green-text: #a7f0b4;
$header-text: #f4f6f9;
$main-text: #cdcdcd;
$shadow-text: #292c31;

$border-clr: #575757;

$btn-green: #4ba08d;
$btn-purple: #7d3e82;
$btn-mint: #356d88;
$btn-brown: #6e3a3c;
$btn-blue: #3f8bf4;
